.markdown {
  /* Typography */
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(219, 234, 254);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  /* Links */
  a {
    color: #2c5282;
    text-decoration: none;
    border-bottom: 1px solid #2c5282;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: #2c5282;
    color: #fff;
    border-color: transparent;
  }

  /* Lists */
  ul,
  ol {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  /* Code blocks */
  pre {
    background-color: #cbd5e0;
    color: #333;
    padding: 1rem;
    overflow: auto;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 0.9rem;
  }

  /* Blockquotes */
  blockquote {
    background-color: #cbd5e0;
    border-left: 0.25rem solid #2c5282;
    color: #333;
    margin: 0;
    padding: 1rem;
    quotes: "\\201C""\\201D""\\2018""\\2019";
    margin-bottom: 1.5rem;
  }

  blockquote p {
    margin-bottom: 0;
  }

  blockquote:before {
    content: open-quote;
    color: #2c5282;
    font-size: 2rem;
    margin-right: 0.5rem;
    vertical-align: -0.5rem;
  }

  blockquote:after {
    content: close-quote;
    color: #2c5282;
    font-size: 2rem;
    margin-left: 0.5rem;
    vertical-align: -0.5rem;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
